body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #280be8;
    padding: 20px;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 50px;
   
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

.product {
    margin-bottom: 30px;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
  }
  
  /* CSS Custom Properties */
  :root {
    --main-bg: #4a4e4d;
    --top-menu-bg: #a75d0e;
    --sub-menu-bg: hwb(45 24% 34%);
  }
  
  body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: black;
    background-color: bisque;
  }
  
  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  #top-menu a:hover {
    background-color: var(--sub-menu-bg);
  }
  header, #top-menu {
    position: relative;
  }
  #top-menu {
    z-index: 20;
  }
  #sub-menu {
    width: 100%;
    z-index: 10;
    transition: top 0.5s ease-out;
  }
  #sub-menu a:hover {
    background-color: var(--top-menu-bg);
  }
  nav a.active {
    background-color: var(--sub-menu-bg);
    color: var(--main-bg);
  }